<% layout("/layouts/boilerplate")%>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h3 class="mb-4">Create a New Listing</h3>
      <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title :</label>
          <input type="text" class="form-control" id="title" name="listing[title]" placeholder="Enter title" required>
          <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description :</label>
          <textarea class="form-control textarea" name="listing[description]" id="description" rows="4" placeholder="Enter description" required></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image :</label>
          <input type="file" name="listing[image]" class="form-control" id="image">
        </div>

        <div class="mb-3">
          <label for="inputGroupSelect01" class="form-label">Category :</label>
          <select class="form-select" id="inputGroupSelect01" name="listing[category]" required>
            <option value="" selected disabled><-- Select the Category --></option>
            <% for(let cat of ["Mountains","Castles","Camping","Arctic","Boats","Iconic Cities","Rooms","Amazing Pools","Farms","Domes"]) { %>
              <option value="<%= cat %>"><%= cat %></option>
            <% } %>
          </select>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price :</label>
            <input name="listing[price]" class="form-control" placeholder="Enter price" id="price" required>
            <div class="invalid-feedback">Price should be valid</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country :</label>
            <input type="text" name="listing[country]" class="form-control" placeholder="Enter country" id="country" required>
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location :</label>
          <input type="text" name="listing[location]" class="form-control" id="location" placeholder="Enter location" required>
          <div class="invalid-feedback">Location should be valid</div>
        </div>

        <button class="btn btn-dark w-100 mt-3 add-btn">Add</button>
      </form>
    </div>
  </div>
</div>